@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: "Roboto", sans-serif;
    background-color: #f6f6f6;
}
.play-regular {
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.play-semibold {
    font-family: "Play", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.play-bold {
    font-family: "Play", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.cust-container {
    @apply w-full sm:max-w-[540px] md:max-w-[720px] lg:max-w-[960px] xl:max-w-[1140px] 2xl:max-w-[1320px]  mx-auto px-4;
}
